@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/assets/fonts/ibm-plex-sans-400.woff2) format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(/assets/fonts/ibm-plex-sans-500.woff2) format('woff2');
}

a,
p,
div,
body,
html,
main,
div,
form,
input,
fieldset,
button,
label {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body, a, input, button {
    color: rgb(50, 50, 50);

    font: 1rem/1.2rem 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background: #f8f8f8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    padding: 20px;
    max-width: 440px;
}

img {
    width: auto;
    display: block;
}

a {
    text-decoration: none;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1em;
    margin: 0 0 8px;
}

input[type=text] {
    width: 100%;
    background: #fff;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 4px;
    display: block;
    height: 40px;
    padding: 0 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

button,
input[type=submit] {
    height: 40px;
    display: block;
    cursor: pointer;
    background: none;
    font-size: 0.9rem;
    padding: 0 1rem;
    font-weight: 500;
    border-radius: 4px;
    line-height: 40px;

    transform: translate3d(0,0,0);
    transition: .2s ease-in-out;
    transition-property: border-color, background-color, transform;
    user-select: none;
    backface-visibility: hidden;

}
button:hover,
input[type=submit]:hover {
    transition-duration: 5ms;
    transform: scale(1.05) translate3d(0,0,0);
}

button {
    color: #323232;
    background-color: #efefef;
    border-color: #efefef;
}
button:hover {
    background-color: #e7e7e7;
    border-color: #e7e7e7;

}

input[type=submit] {
    color: #fff;
    background-color: #0324ff;
    border-color: #0324ff;
}
input[type=submit]:hover {
    background-color: #0d009a;
    border-color: #0d009a;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header span {
    display: block;
    margin: 0 20px;
    font-size: 50px;
}

main div {
    padding: 40px 0 60px;
    text-align: center;
}
main p {
    margin: 0 0 20px;
}
main small {
    color: rgba(50, 50, 50, 0.5);
}

footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
